.App {
    text-align: center;
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: calc(10px + 2vmin);
    color: white;
}

.CoolBtn {
    border-left: solid 6px #ff7c5c;
    min-width: 80px;
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #f7f7f7;
    color: #ff7c5c;
    font-size: 1em;
    font-weight: bold;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
    cursor: crosshair;
    transition: all .5s;
}

.CoolBtn:hover {
    background: #ff7c5c;
    color: #f7f7f7;
    border-color: #f7f7f7;
}

.CoolBtn:active {
    box-shadow: inset 0 0 2px rgba(128, 128, 128, 0.1);
    transform: translateY(2px);
}

.CoolBtn--small {
    font-size: 0.5em;
}

.CoolInput {
    background: none;
    border: none;
    border-bottom: 1px solid gold;
    color: gold;
    font-size: 2em;
    margin: 1em 0;
}

.CoolInput:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.InRow {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 auto;
    width: 50%;
  }
  
  .Huge {
      font-size: 5em
  }